body {
    background: var(--black);
    color: var(--white);
}

section#main {
    background-color: var(--black20);
}

section#main img {
    opacity: 0.5;
}

section#prayerbar {
    background-color: var(--blue50);
}

/* Prayer elements */

#clockdiv {
    border-bottom: var(--grey) 1px solid;
}

span.prayer.active {
    background: var(--amber60);
    color: var(--black);
}

span.prayer.active svg {
    fill: var(--black);
}

#timediv {
    border-bottom: var(--grey) 1px solid;
}

/* Sidebar tweaks on prayer elements */

section#sidebar.iqamah {
    background-color: var(--amber60);
}

section#sidebar.salah {
    background-color: var(--vivid-green-cyan50);
}

section#sidebar.iqamah, section#sidebar.salah {
    color: var(--black);
}

section#sidebar.iqamah #clockdiv, section#sidebar.iqamah #timediv, section#sidebar.salah #clockdiv, section#sidebar.salah #timediv {
    border-color: var(--black);
}